@model IEnumerable<TechBlogWeb.Domain.Response.Category.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<div class="main-container">
    <h2>Xoá Category thành công!</h2>
    <a asp-controller="CategoryWeb" asp-action="Index" class="btn btn-primary mb-2">Back</a>
</div>

