@model TechBlogWeb.Domain.Request.Category.UpdateCategoryRequest
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}
<div class="main-container">
    <h1>Update Category</h1>
    <form asp-controller="CategoryWeb" asp-action="UpdateCategory" method="POST" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group">
            <div class="col-3">
                <label asp-for="CategoryId"></label>
            </div>
            <div class="col-9">
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="CategoryName"></label>
            </div>
            <div class="col-9">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-controller="CategoryWeb" asp-action="Index" class="btn btn-success">Back</a>
            </div>
        </div>
    </form>
</div>