
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="main-container">
    <h2>Xoá Blog thành công!</h2>
    <a asp-controller="BlogWeb" asp-action="Index" class="btn btn-primary mb-2">Back</a>
</div>
